{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
<div id="category-label">
    {{ post.get_category_display }}
</div>
<h1 style="margin-top: 1px;">{{ post.title }}</h1>

{% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
{% endif %}

<div>
    {% autoescape off %}
    {{ post.content }}
    {% endautoescape %}
</div>

<p>
    <small>
        Date Posted: {{ post.post_date }}
        <br>
        Date Updated: {{ post.update_date }}
    </small>
</p>

<p><a href="{% url "board:update" post.id %}">Update the Post</a></p>

<p><a href="/board/">Back to List</a></p>
{% endblock %}