{% extends 'base.html' %}

{% block title %}Post List{% endblock %}

{% block content %}
<h1>Post List</h1>

<form action="" method="get" style="text-align: right; margin-bottom: 20px;">
    <label for="category">카테고리:</label>
    <select name="category" id="category">
        <option value="" selected>전체</option>
        <option value="free" {% if selected_category == 'free' %}selected{% endif %}>자유</option>
        <option value="diary" {% if selected_category == 'diary' %}selected{% endif %}>일기</option>
        <option value="activity" {% if selected_category == 'activity' %}selected{% endif %}>활동</option>
    </select>
    <button type="submit">검색</button>
</form>

{% if page_obj %}
    <ul class="post-list">
        {% for post in page_obj %}
            <li>
                <div class="post-number">{{ post.id }}</div>
                <a href="{% url 'board:detail' post.id %}">{{ post.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <!-- Paging Link -->
    <div class="pagination">
        <div class="pagination-prev">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">Prev</a>
            {% else %}
                <span class="invisible">Prev</span>
            {% endif %}
        </div>

        <div class="pagination-center">
            <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
        </div>

        <div class="pagination-next">
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}{% if selected_category %}&category={{ selected_category }}{% endif %}">Next</a>
            {% else %}
                <span class="invisible">Next</span>
            {% endif %}
        </div>
    </div>
{% else %}
    <p>No post are available.</p>
{% endif %}

<a href="/board/create/">Create New Post</a>
{% endblock %}